#bottom-panel {
    --panel-bg-colour: white;
    height: calc(100% - min( var(--hexagon-height), var(--touch-y)) - 9.5em);
    /* background: red; */
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    bottom: 0;
    margin-top: -1.5em;
    --touch-y: 335px

}

.tab-content {
    background-color: var(--panel-bg-colour);
}

#bottom-panel.open {
    position: relative;
    bottom: 0;
    height: calc(100% - 11em);
}

.expand-tab {
    --member-colour: var(--panel-bg-colour);
    /* touch-action: pan-y; */
    top: -1.5em;
    width: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--member-colour);
    flex-grow: 0;
    border-radius: 1.5em 1.5em 0 0;
}

.expand-graphic {
    width: 30%;
    height: 0.5em;
    background-color: var(--primary-colour-dark);
    border-radius: 1em;
}

@media only screen and (min-width: 600px) {
    #bottom-panel {
        height: 100%;
        /* display: none; */
        grid-column: 3;
        grid-row: 1 / span 2;
        margin-top: unset;
    }

    #expand-tab {
        display: none;
    }

    #nav-votes {
        display: none;
    }
}