* {
    margin: 0;
}

p.vote-text {
    margin: 0.3rem 0 0.5rem 0;
}

body {
    background-color: #f3f6fa;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

#visualisation {
    position: relative;
    height: 42em;
}

.hidden {
    visibility: hidden;
}

.hidden-vacant {
    visibility: hidden;
}

#details {
    position: absolute;
    pointer-events: none;
    background-color: #EDE;
    padding: 0.75em 1em 0.5em 1em;
    /* width:8em; */
    border-radius: 0 1.5em 1.5em 1.5em;
    /* transition: width 2s height 2s; */
}

#details.details-empty {
    width:0;
}

.council-member {
    position: absolute;
    /* left: 30px; */
    border-radius: 50%;
    border: 3px, black;
    border-style:solid;
    height:40px;
    width:40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.councillor {
    background-color: rgb(9, 79, 99);
    border-color: rgb(9, 79, 99);
}

.member-fto {
    --node-colour: #fff42d;
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-pto {
    background-color: rgb(138, 162, 217);
    border-color: rgb(138, 162, 217);
    color: white;
}

.member-representative {
    background-color: rgb(204, 148, 204);
    border-color: rgb(165, 104, 165);
}

.member-academic {
    --node-colour: #5ec4ff;
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-su {
    --node-colour: rgb(69, 249, 249);
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-science {
    --node-colour: #a3e29f;
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-social-science {
    --node-colour: #FF99CC;
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-arts-and-humanities {
    --node-colour: #8d87da;
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-engineering {
    --node-colour: rgb(255, 150, 63);
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.member-health {
    --node-colour: #f8a6a1;
    background-color: var(--node-colour);
    border-color: var(--node-colour);
}

.vote-for {
    background-color: lime;
    color: black;
}

.vote-against {
    background-color: red;;
    color: black;
}

.vote-abstain {
    background-color: yellow;
    color: black;
}

.vote-absent {
    background-color: rgba(211, 211, 211, 0.139);
    border-width: 1px;
    color: black;

    /* height:20px; */
    /* width:20px; */
}

.vacant {
    /* filter: brightness(30%); */
    background-color: rgba(0,0,0,0);
    color: gray;
    border-style: dashed;

    height:20px;
    width:20px;
}
/*
.member-arts-and-humanities.vacant {
    background-color: #413c4379;
}

.member-engineering.vacant {
    background-color: rgba(83, 55, 2, 0.452);
}

.member-representative.vacant {
    background-color: rgba(46, 1, 46, 0.479);
}

.member-science.vacant {
    background-color: #014d0171;
}

.member-social-science.vacant {
    background-color: #3c203c;
}

.member-health.vacant {
    background-color: rgba(59, 1, 1, 0.452);
} */


