* {
    margin: 0;
}

body {
    background-color: #f3f6fa;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

#visual-container {
    height: 42em;
    position: relative;
    overflow: hidden;
}

#visualisation {
    position: relative;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#details {
    position: absolute;
    pointer-events: none;
    background-color: #EDE;
    padding: 0.75em 1em 0.5em 1em;
    /* width:8em; */
    border-radius: 0 1.5em 1.5em 1.5em;
    /* transition: width 2s height 2s; */
}

#details.details-empty {
    width:0;
}

/* li::before.vote-for {
    background-color: var(--vote-colour);
} */
