.panel-title {
    text-align: center;
    width: var(--detail-width);
    font-size: 1.125rem;
}
.cllr-panel-name {
    grid-column: 2 / span 4;
    grid-row: 2;
    align-self: center;
}


.cllr-details-top-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr 1fr;
    padding-inline: unset;
    gap: 0 0.5em;
}

.cllr-top-bg {
    background-color: var(--member-colour);
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
}

.cllr-panel-pronouns {
}

#cllr-details {
    display: flex;
    flex-direction: column;
    padding: 0 0 0.25em 0;
}

#cllr-details.display-hidden {
    display: none;
}

.cllr-socials.display-hidden {
    display: none;
}


#title-container {
    grid-column: 1 / span 5;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    align-items: stretch;
    justify-content: space-evenly;
}

#cllr-back-button {
    line-height: 0;
}

#cllr-details > div:not(:nth-child(1)) {
    padding-inline: 1em;
}

#bio-box {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 4;
    grid-row: span 2;
    gap: 0.25em;
}


#degree-box {
    font-size: 0.75em;
    display: flex;
    gap: 0.5em;
}

.councillor-image {
    margin: 0 0 0 1em;
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
    /* height: 4em; */
    width: 5em;
    border-radius: 100%;
    border: solid 0.3em #ffffff;
    /* box-sizing: content-box; */
    aspect-ratio: 1;
}

.cllr-socials {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#cllr-details-buttons {
    grid-column: span 2;
    display: flex;
    gap: 0;
    justify-content: center;
}

#cllr-details-buttons > * {
    flex-grow: unset;
    /* width: 13ch; */
    flex-basis: 13ch;
}

/* Manifest item */
#manifesto-container {
    width: 100%;
}

#manifesto-container p {
    text-align: left;
}

/* vote history container > record table */
#cllr-details-summary-container  {
    max-height: 15em;
    overflow-y: auto;
    width: 100%;
    border: 0.125em solid rgb(152, 47, 65);
}

#cllr-details > div#cllr-details-summary-container {
    padding-inline: unset;
}

#cllr-details-summary-container.hidden {
    max-height: 0em;
}

/* Record table */
#record-table {
    width: 100%;
}

#record-table thead td {
    font-weight: 400;
}

#record-table button {
    position: absolute; top:0; left:0;
    height: 100%;
    width: 100%;
}

#manifesto {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#record-table tr:nth-child(odd) {
    background-color: lightgrey;
}

#record-table tr:nth-child(even) {
    background-color: aliceblue;
}

#record-table tr > td:last-child {
    position:relative;
    text-align: right;
    padding-right: 0.75em;
}

#record-table tr > td:first-child {
    text-align: left;
    width:20ch;
}

@media only screen and (min-width: 600px) {
    #cllr-details-summary-container {
        max-height: unset;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 500px) {
    #policy-name-container {
        justify-content: unset;
        bottom: 2em;
    }
    #policy-name-container p {
        padding-left: 2em;
    }
}

@media only screen and (min-width: 600px) {

    #cllr-details {
        max-height: 100%;
        height: 100%;
    }

    #cllr-details > #cllr-details-summary-container {
        max-height: none;
        margin: 0em 1em 1em 1em;
        width: unset;
    }
}
