#councillor-panel {
    --detail-width: 40rch;

    position: absolute;
    height: 100%;
    right: calc(0ch - var(--detail-width));

    display: grid;
    grid-template-columns: 0fr auto;
    grid-template-rows: 0fr 1fr;

    pointer-events: none;
    transition: all 150ms ease-out;
}

#councillor-panel .display-hidden {
    display: none;
}

#councillor-panel.panel-open {
    right: 0;
}

#councillor-panel * {
    pointer-events: visible;
}
.detail-panel {
    height: 100%;
    width: var(--detail-width);

    grid-column-start: 2;
    gap:unset;

    text-align: center;

    overflow: visible auto;
}
#panel-close-background {
    background-color: rgba(0, 0, 0, 0.196);
    height: 100%;
    align-content: center;
}

#panel-close-background:hover {
    background-color: rgba(255, 255, 255, 0.196);
}

.detail-panel > div {
    width: 100%;
}

#panel-bottom-container {
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    gap:1em;
    align-items: center;
    overflow-y: auto;
}


#councillor-panel h3 {
    font-size: 1.5rem;
    background-color: var(--member-colour);
    padding: 0.5em 0.5em;
}

.profile-picture {
    /* width: 80%; */
    width: 50%;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 1em;
}

#panel-title {
    text-align: center;
    width: var(--detail-width);
}

#panel-close-button {
    height: 100%;
    align-self:center;
    float:left;
    background-color: var(--member-colour);
    align-self: center;
    justify-self: baseline;
    align-items: center;
    vertical-align: middle;
    border: unset;
    padding: unset;

}

#vote-history-container  {
    max-height: 15em;
    overflow-y: auto;
    width: 100%;
    border: 0.125em solid rgb(152, 47, 65);
}

#manifesto-container {
    width: 100%;
}

#manifesto-container p {
    text-align: left;
}

.panel-item {
    width: 100%;
}

.detail-panel table {
    width: inherit;
}

.detail-panel table tr:nth-child(odd) {
    background-color: lightgrey;
}

.detail-panel table tr:nth-child(even) {
    background-color: aliceblue;
}

.detail-panel table tr td:last-child {
    text-align: right;
    padding-right: 0.75em;
}
.detail-panel table tr td:first-child {
    text-align: left;
    width:20ch;
}