svg#grids {
    border: 1em solid #0000;
    --grid-width: 17px;
    height: 100%;
    width: var(--grid-width);
    z-index: -2;
    overflow: visible;
    left: calc(0em - var(--grid-width) / 2);
    top: calc(0em - var(--grid-width) / 2);
}

#grid-container {
    top:50%;
    left:50%;
}

#grids polygon {
    opacity: 70%;
    stroke: black;
    fill: none;
    stroke-width: 1em;
    stroke: var(--group-colour);
}

.group-representative {
    --group-colour: var(--rep-colour);
}

#grids polygon.group-archaeology {
    --group-colour: black;
    fill:black;
}

.group-pto {
    --group-colour: var(--pto-colour);
}

.group-su {
    --group-colour: var(--su-colour);
}

.group-academic {
    --group-colour: var(--acad-colour);
}

.group-health {
    --group-colour: var(--health-colour);
}

.group-science {
    --group-colour: var(--sci-colour);
}

.group-arts-and-humanities {
    --group-colour: var(--arts-colour);
}

.group-engineering {
    --group-colour: var(--engi-colour);
}

.group-social-science    {
    --group-colour: var(--soc-sci-colour);
}

.group-fto {
    --group-colour: var(--fto-colour);
}

.member-lost {
    height: 40px;
    width: 50px;
    position: absolute;
}

@media only screen and (min-width: 400px) {
    svg#grids {
        --grid-width: 30px;
    }
}