svg#grids {
    height: 100%;
    width: 100lvw;
    z-index: -2;
    overflow: visible;
}

#grids polygon {
    opacity: 70%;
    stroke: black;
    fill: none;
    stroke-width: 1em;
    stroke: var(--group-colour);
}

.group-representative {
    --group-colour: var(--rep-colour);
}

#grids polygon.group-archaeology {
    --group-colour: black;
    fill:black;
}

.group-pto {
    --group-colour: var(--pto-colour);
}

.group-su {
    --group-colour: var(--su-colour);
}

.group-academic {
    --group-colour: var(--acad-colour);
}

.group-health {
    --group-colour: var(--health-colour);
}

.group-science {
    --group-colour: var(--sci-colour);
}

.group-arts-and-humanities {
    --group-colour: var(--arts-colour);
}

.group-engineering {
    --group-colour: var(--engi-colour);
}

.group-social-science    {
    --group-colour: var(--soc-sci-colour);
}

.group-fto {
    --group-colour: var(--fto-colour);
}