svg#grids {
    position: absolute;
    border: solid 1em #0000;
    overflow: visible;
    left: -1em;
    top: -1em;
}

#grid-container {
    top:50%;
    left:50%;
}

#grids polygon {
    /* opacity: 70%; */
    stroke: black;
    fill: none;
    stroke-width: 5em;
    stroke: var(--group-colour);
    stroke-linecap: round;
    stroke-linejoin: round;
}

.group-representative {
    --group-colour: var(--rep-colour);
}

#grids polygon.group-archaeology {
    --group-colour: black;
    fill:black;
    stroke-width: 1em;
    stroke-linejoin: miter;
}

.group-pto {
    --group-colour: var(--pto-colour);
}

.group-su {
    --group-colour: var(--su-colour);
}

.group-specialised {
    --group-colour: var(--acad-colour);
}

.group-health {
    --group-colour: var(--health-colour);
}

.group-science {
    --group-colour: var(--sci-colour);
}

.group-arts-and-humanities {
    --group-colour: var(--arts-colour);
}

.group-engineering {
    --group-colour: var(--engi-colour);
}

.group-social-science    {
    --group-colour: var(--soc-sci-colour);
}

.group-grey {
    --group-colour: rgba(168, 168, 168, 0.249);
}

.group-fto {
    --group-colour: var(--fto-colour);
}

.member-lost {
    height: 40px;
    width: 48px;
    position: absolute;
}

@media only screen and (min-width: 400px) {
    #grids polygon {
        stroke-width: 3em;
    }
}
