/* Member, Vacant, Member colours */
#hexagon {
    position: relative;
    width: 100%;
    height: var(--hexagon-height);
}

#hexagon > * {
    position: relative;
    top: calc(50% * 1 / var(--scale));
    left: calc(50% * 1 / var(--scale));
}

.member {
    /* size, border, sizing, position, colour, items, transitions */
    height:var(--size);
    width:var(--size);
    box-sizing: border-box;
    position: absolute;

    background-color: var(--member-colour);
    border: 0.25em solid black;
    border-color: var(--member-border-colour);
    border-radius: 50%;
    box-shadow: 0.125em 0.125em 0 var(--member-border-colour);
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* z-index: -1; */
    transition: all 300ms ease-in-out, opacity 50ms ease-out, border 0ms;
    user-select: none;
    --q: 0;
    --r: 0;
    left: calc(var(--q) * var(--vert) * 2 - var(--width) / 2 - 3px);
    top: calc(var(--r) * var(--horiz) * 2 + var(--q) * var(--horiz) - var(--height) / 2);
    --translate: translate(0, 0);
    --hover-y: -0.5rem;
    /* transform: scale(1.0) var(--translate); */
    /* --translateY: 0; */
}

.member .shadow {
    width: 0;
    overflow: visible;
    position: relative;
    top: 0.25rem;
    left: 0.25rem;
}

.member .shadow::before {
    color: var(--member-border-colour);
}

.member div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.member.opacity-hidden {
    opacity: 0;
    display: none;
}

.member.hidden {
    transition: opacity 300ms;
}

@keyframes bounce {
    0% {
      translate: 0 0;
    }

    50% {
      translate: 0 -0.5em;
    }

    100% {
        translate: 0 0;
    }

    /* 75% {
        translate: 0 0.25em;
    }

    100% {
        translate: 0 0;
    } */
  }



.member:hover {
    --translate: translate(0, var(--hover-y));
    transform: scale(1.0) var(--translate);
    transition: transform 300ms;

}

.member.selected {
    --translate: translate(0, var(--hover-y));
    transform: var(--translate);
    transition: all 300ms ease-in-out;
    /* animation: 2s infinite ease-in-out bounce; */
}

.member p {
    font-size: 1rem;
    position: absolute;
    font-weight: 300;
}

.member * {
    transform: scale(1.0);
    transition: all 500ms ease-in-out, color 100ms;
}

/* Vacant position */
.vacant {
    /* background-color: var(--vacant-colour); */
    background-color: var(--member-border-colour);
    border-width: 0.25em;
    border-style: none;
    /* box-shadow: 0.125em 0.125em 5px #00000029, inset 0.125em 0.125em 0.25em #ffffff7d; */
    color: rgb(75, 75, 75);
    /* font-weight: 200; */
}

.hidden-vacant {
    visibility: hidden;
    opacity: 0;
}

.vacant * {
    transform: scale(calc(1 / var(--transform-scale)));
}

/* :focus-visible {
    outline: 0.25em solid red   ;
    outline-offset: 0.25em;
  } */

/* Member colours */
#council-container .member, #grids, .panel-title, .panel-close-button, .overlay, #bottom-panel, #group-text-container{
    --fto-colour:  #fff42d;
    --fto-border-colour: #e8df27;

    --pto-colour:  rgb(138, 162, 217);
    --pto-border-colour: rgb(107, 132, 190);

    --rep-colour:  rgb(204, 148, 204);
    --rep-border-colour: rgb(165, 104, 165);

    --su-colour:  rgb(69, 249, 249);
    --su-border-colour: rgb(42, 214, 214);

    --acad-colour:  #5ec4ff;
    --acad-border-colour: #4aace5;

    /* Faculty */
    /* --arts-colour:  #8d87da; */
    --arts-colour:  #9B92DD;
    --arts-border-colour: #756fc6;

    --engi-colour:  #ff963f;
    --engi-border-colour: #e7812d;

    --health-colour:  #f8a6a1;
    /* --health-border-colour: #da817c; */
    --health-border-colour: #E09590;

    --sci-colour:  #a3e29f;
    --sci-border-colour: #8acb86;

    --soc-sci-colour:  #FF99CC;
    --soc-sci-border-colour: #df7bad;

    --vacant-colour: #0000;
}

.overlay {
    --member-colour: #EDE;
    position: absolute;
    pointer-events: none;
    background-color: #EDE;
    background-color: var(--member-colour);
    border: solid 0.375em var(--member-border-colour);
    padding: 0.75em 1em 0.5em 1em;
    border-radius: 0 1.5em 1.5em 1.5em;
}

.overlay p {
    color: black;
}

#overlay-list {
    display: grid;
    grid-template-columns: 6ch minmax(auto, 32ch);
    gap: 0em 0.25em
}
#overlay-list p {
    text-wrap: pretty;
}

.member-fto {
    --member-colour: var(--fto-colour);
    --member-border-colour: var(--fto-border-colour);
}

.member-pto, .member-academic-facilitator {
    --member-colour: var(--pto-colour);
    --member-border-colour: var(--pto-border-colour);
    /* color: white; */
}

.member-representative {
    --member-colour: var(--rep-colour);
    --member-border-colour: var(--rep-border-colour);
}

.member-specialised {
    --member-colour: var(--acad-colour);
    --member-border-colour: var(--acad-border-colour);
}

.member-su {
    --member-colour: var(--su-colour);
    --member-border-colour: var(--su-border-colour);
}

/* Faculty */
.member-arts-and-humanities {
    --member-colour: var(--arts-colour);
    --member-border-colour: var(--arts-border-colour);
}

.member-engineering {
    --member-colour: var(--engi-colour);
    --member-border-colour: var(--engi-border-colour);
}

.member-science {
    --member-colour: var(--sci-colour);
    --member-border-colour: var(--sci-border-colour);
}

.member-social-science {
    --member-colour: var(--soc-sci-colour);
    --member-border-colour: var(--soc-sci-border-colour);
}

.member-health {
    --member-colour: var(--health-colour);
    --member-border-colour: var(--health-border-colour);
}

@media only screen and (min-width: 600px) {
    #hexagon {
        height: 100%;
    }

    #hexagon > div {
        transform: unset;
    }
}