/* Member, Vacant, Member colours */
.member {
    /* size, border, sizing, position, colour, items, transitions */
    height:40px;
    width:40px;
    box-sizing: border-box;
    position: absolute;

    border-radius: 50%;
    border: 0.25em solid black;
    box-shadow: 0.125em 0.125em 5px var(--member-border-colour);
    opacity: 1;


    background-color: var(--member-colour);
    border-color: var(--member-border-colour);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* z-index: -1; */
    transition: all 500ms ease-in-out, opacity 50ms ease-out, border 0ms;

    user-select: none;
}

.member.hidden {
    transition: opacity 300ms;
}

.member:hover {
    border-style: solid;
    transform: scale(1.0)
}

.member p {
    font-family: unset;
    font-weight: 400;
}

.member * {
    transform: scale(1.0);
    transition: all 500ms ease-in-out, color 100ms;
}

/* Vacant position */
.vacant {
    background-color: var(--vacant-colour);
    border-width: 0.25em;
    border-style: dotted;
    transform: scale(0.5);
    color: grey;
}

.hidden-vacant {
    visibility: hidden;
    opacity: 0;
}

.vacant * {
    transform: scale(2.0);
}

/* Member colours */
#council-map .member, #grids, .panel-title, .panel-close-button {
    --fto-colour:  #fff42d;
    --fto-border-colour: #e8df27;

    --pto-colour:  rgb(138, 162, 217);
    --pto-border-colour: rgb(107, 132, 190);

    --rep-colour:  rgb(204, 148, 204);
    --rep-border-colour: rgb(165, 104, 165);

    --su-colour:  rgb(69, 249, 249);
    --su-border-colour: rgb(57, 231, 231);

    --acad-colour:  #5ec4ff;
    --acad-border-colour: #4aace5;

    /* Faculty */
    --arts-colour:  #8d87da;
    --arts-border-colour: #756fc6;

    --engi-colour:  #ff963f;
    --engi-border-colour: #e7812d;

    --health-colour:  #f8a6a1;
    --health-border-colour: #da817c;

    --sci-colour:  #a3e29f;
    --sci-border-colour: #8acb86;

    --soc-sci-colour:  #FF99CC;
    --soc-sci-border-colour: #df7bad;

    --vacant-colour: #0000;
}

.member-fto {
    --member-colour: var(--fto-colour);
    --member-border-colour: var(--fto-border-colour);
}

.member-pto {
    --member-colour: var(--pto-colour);
    --member-border-colour: var(--pto-border-colour);
    color: white;
}

.member-representative {
    --member-colour: var(--rep-colour);
    --member-border-colour: var(--rep-border-colour);
}

.member-academic {
    --member-colour: var(--acad-colour);
    --member-border-colour: var(--acad-border-colour);
}

.member-su {
    --member-colour: var(--acad-colour);
    --member-border-colour: var(--acad-border-colour);
}

/* Faculty */
.member-arts-and-humanities {
    --member-colour: var(--arts-colour);
    --member-border-colour: var(--arts-border-colour);
}

.member-engineering {
    --member-colour: var(--engi-colour);
    --member-border-colour: var(--engi-border-colour);
}

.member-science {
    --member-colour: var(--sci-colour);
    --member-border-colour: var(--sci-border-colour);
}

.member-social-science {
    --member-colour: var(--soc-sci-colour);
    --member-border-colour: var(--soc-sci-border-colour);
}

.member-health {
    --member-colour: var(--health-colour);
    --member-border-colour: var(--health-border-colour);
}
