.summary {
    padding: 1em;
    z-index: 1;
    top:0;
    width: 100%;
    flex-direction: column;
    gap:0.25em;
}

.summary:not(.display-hidden) {
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

.summary h4 {
    padding: unset;
}

.summary-container {
    padding: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 0.5em;
}

.summary-container div {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.5em;
    flex-grow: 1;
    width: 100%;
}

.summary-container .summary-top {
    width: 40%;
}

.summary-container div p:last-child {
    text-align: right;
    float: right;
}

.summary-container div:not(:first-child):hover {
    box-shadow: inset 0 0 0 0.25em var(--vote-colour);
    background-color: unset;
    font-weight: bold;
}

.summary-container div.vote-absent:hover {
    color: black;
}

/* Vote summary panel */
#vote-summary-panel {
    background-color: var(--primary-colour-light);
    padding-bottom: 0.5em;
}

#vote-summary-panel:not(.display-hidden) {
    position: relative;
    display: flex;
}

#vote-summary-panel .pill-buttons * {
    background-color: white;
}

#vote-summary-panel .summary-container {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 0.5em;
}

#toggles {
    padding: 0.25em;
}

#toggles-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    #toggles-container {
        flex-wrap: nowrap;
        height: unset;
        font-size: unset;
    }

    #vote-summary {
        display: none;
    }
}