#summary {
    width: 32ch;
    max-height: 78lvh;
    top: 0px;
}

#summary hr {
    border: 0.0625em solid pink;
}


#vote-summary-container {
    /* border-left: 5px solid red; */
    max-width: 30ch;
    padding: 0;
}

#vote-summary.display-hidden {
    display: none;
}

/* #vote-summary-container.hidden {
    height: 0px;
} */

#summary div.flex-center-row {
    justify-content: space-between;
}

select#policy {
    /* max-width: 25ch; */
    text-wrap: wrap;
    min-height: 3em;
}

#vote-summary {
    display: flex;
    flex-direction: column;
    gap:0.25em;
}

#vote-summary-container div:not(:first-child):hover {

    border: 0.25em solid var(--vote-colour);
    background-color: unset;
    font-weight: bold;
}

#vote-summary-container div {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.5em;
}

#vote-summary-container div:nth-last-child(2) {
    margin-top: 1em;
}

#vote-summary-container div p:last-child {
    width: 12ch;
    text-align: right;
    float: right;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}

#vote-summary-container div p:first-child {
    width: 12ch;
    /* text-wrap: wrap; */
}

/* #summary li::before {
    content:"_";
    height: 20px;
    width: 20px;
} */

#vote-summary-container div::before {
    background-color: var(--vote-colour);
}

div.vote-absent {
    background-color: unset;
}
