.summary {
    padding-top: 1em;
    z-index: 1;
    top:0;
    width: 100%;
    flex-direction: column;
    gap:0.25em;
}

.summary:not(.display-hidden) {
    display: flex;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    /* flex-grow: 1; */
    width: 100%;
    padding: 0 1em;
}

.summary h4 {
    padding: unset;
}

.summary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    padding: 0 1em 1em 1em;
}

.summary-overlay {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.874);
}

.summary-overlay dfn {
    color: rgb(255, 45, 45);
    font-weight: 500;
}
.summary-overlay dd {
    margin-bottom: 0.5em;
}

.summary-overlay mark {
    color: black;
    text-transform: capitalize;
    font-style: oblique;
}


.summary-container div {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.5em;
    flex-grow: 1;
    width: 100%;
}

.summary-container .summary-top {
    width: 40%;
    padding: unset;
}

.summary-container .summary-top:nth-child(even) {
    width: 35%;
    padding-left: 0.5em;
}

.summary-container .summary-top:nth-child(odd) {
    padding-right: 0.5em;
}

.summary-container .summary-top:first-of-type {
    width: 100%;
}

.summary-container div p:last-child {
    text-align: right;
    float: right;
}

.summary-container div:not(:first-child):hover {
    box-shadow: inset 0 0 0 0.25em var(--vote-colour);
    background-color: unset;
    font-weight: bold;
}

.summary-container div.vote-absent:hover {
    color: black;
}
#vote-summary {
    height: 100%;
}

#vote-summary-header-back-button-container {
    display: flex;
}


#vote-summary-header-back-button-container button {
    display: flex;
    align-items: middle;
    padding: 0 1em 0 0;
}

#vote-summary-container {
    max-height: unset;
}

/* Vote summary panel */
#vote-summary-panel {
    background-color: var(--primary-colour-light);
    padding-bottom: 0.5em;
}

#vote-summary-panel:not(.display-hidden) {
    position: relative;
    display: flex;
}

#vote-summary-panel .pill-buttons * {
    background-color: white;
}



#toggles {
    padding: 0.25em;
}

#toggles-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    #toggles-container {
        flex-wrap: nowrap;
        height: unset;
        font-size: unset;
    }

    #vote-summary {
        display: none;
    }
}