/* visual-container > Hexagon > Member */
#visual-container {
    padding: 1em 0em 5.5em 0em;
    overflow: hidden;
    background: #0f2643;
    position:relative;
    --scale: 0.45;
    user-select: none;
}

#group-text-container, #hexagon {
    transform-origin: top left;
    transform: scale(var(--scale));

    --size: 40px;
    --width: calc(sqrt(3) * var(--size) / 2);
    --height:  calc( 4 / 2 * var(--size) / 2);
    --vert: calc(3/4 * var(--height));
    --horiz: var(--width);
}

#group-title-info-container {
    width: 100%;
    height: 100%;
    padding-top: 1em;
    justify-content: center;
}

#group-text-container {
    position: relative;
    overflow: visible;
    top:calc(50% - 2em);
    left:50%;
    z-index: 0;
    font-size: 2.5rem;
    /* width: 0; */
}

#group-text-container > * {
    position:absolute;
    z-index: 0;
    --q: 0;
    --r: 0;
    --offset-width: 10ch;
    text-wrap: pretty;
    width: var(--offset-width);
    font-size: 1em;
    left: calc(var(--q) * var(--vert) * 2 - var(--offset-width) / 2);
    top: calc(var(--r) * var(--horiz) * 2 + var(--q) * var(--horiz) - var(--height) / 2);
}



#group-text-container p:hover {
    color: var(--member-colour);
    font-size: 1.2em;
    /* font-weight: 400; */
    transition: font-size 200ms ease-out;
}

#group-title-info {
    font-size: 1rem;
    text-align: left;
    width: unset;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 1em;
    pointer-events: auto;
    max-height: 19em;
    overflow: auto;
}

#group-title-info.display-hidden {
    display: none;
}

#group-title-info button {
    background-color: var(--member-border-colour);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

#group-text-container p {
    color: white;
    text-align: center;
}

#group-title-pto {
    --q: -1;
    --r: -2;
    transform: skew(0deg, -30deg);
}

#group-title-rep {
    --q: -3;
    --r: -1.8;
    transform: skew(0deg, -30deg);
}

#group-title-su {
    --q: 1.6;
    --r: -2.1;
}

#group-title-special {
    --q: -2.5;
    --r: 0.75;
}

#group-title-sci {
    --q: 4;
    --r: -3;
}

#group-title-soc-sci {
    --q: -2.33;
    --r: 3.16;
}

#group-title-arts {
    --q: 3.5;
    --r: -0.5;
}

#group-title-eng {
    --q: 1.4;
    --r: 2.7;
}

#group-title-health {
    --q: -4;
    --r: 2.5;
}

/* UI for visuals, year buttons + select policy */
#year-buttons-container {
    bottom: 1.3em;
}

#panel-policy-select-group-container {
    display: none;
}

#panel-policy-select-container {
    color: white;
}

#panel-policy-select {
    width: 100%;
    max-width: 25em;
    text-wrap: wrap;
    width: 30ch;
}

/* Help Overlay */
#help-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 0em 1em;
    text-wrap: pretty;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 5;
    overflow: auto;
    /* debug on */
    /* display: none; */
    /* pointer-events: all; */
}

#help-overlay > * {
    max-width: 60ch;
}

#help-overlay a {
    color: pink;
}

#help-overlay a:visited {
    color: violet;
}

#credits {
    display: flex;
    gap:1em;
}

#github-logo {
    background-color: white;
    color: white;
}

/* Help button + help overlay + help close button */
#help-button, #capture-button {
    bottom: unset;
    top: 1em;
    right: 1.5em;
    width: fit-content;
    padding: 1em;

    background-color: var(--primary-colour);
    border-radius: 1em;
    box-shadow: 0.25em 0.25em rgba(79, 253, 192, 0.457);
    color: black;
}

#help-button p, #capture-button p {
    font-size: 1rem;
    font-weight: 500;
}

#help-close-button {
    background-color: var(--primary-colour);
    padding: 1em;
    border-radius: 2em;
    font-size: 1.25em;
    margin-bottom: 1em;
}

#capture-button {
    right: unset;
    left: 1em;
    width: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#capture-button.display-hidden {
    display: none;
}




#visual-container-description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: grid;
    grid-template-rows: 5.5em auto 1fr 0fr 0fr;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    flex-shrink: 0;
    padding: 0.5em 1em 0.5em 1em;
    z-index: 1;
}

#visual-container-description.display-hidden {
    display: none;
}

#visual-container-description > * {
    width: 100%;
    color: white;
    flex-shrink: 0;
}

#visual-container-top-right {

    justify-content: end;
}

.legend-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:0.5em;
}

.legend-row .fa-solid {
    position: unset;
    font-size: unset;
}

.legend-row div:before {
    font-size: 1.5rem;
    width: 24px;
    display: block;
    text-align: center;
}

.legend-row .vote-option-1 {
    width: 1.5em;
    border-radius: 0.125em 50% 50% 50%;
    background-color: var(--option-1-colour);
}

.legend-row .vote-option-2 {
    width: 1.5em;
    border-radius: 50% 0.125em 50% 50%;
    background-color: var(--option-2-colour);
}

.legend-row .vote-option-3 {
    width: 1.5em;
    border-radius: 50% 50% 0.125em 50%;
    background-color: var(--option-3-colour);
}

.legend-row .vote-option-4 {
    width: 1.5em;
    border-radius: 50% 50% 50% 0.125em;
    background-color: var(--option-4-colour);
}

.legend-row .vote-for {
    width: 1.5em;
    border-radius: 50% 50% 0.125em 0.125em;
    background-color: var(--for-colour);
}

.legend-row .vote-against {
    width: 1.5em;
    border-radius: 0.125em 0.125em 50% 50% ;
    background-color: var(--against-colour);
}

.legend-row div {
    position: relative;
}

.legend-row-value {
    width: 2ch;
    flex-shrink: 0;
}

#visual-container-title {

    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    /* top: 0.25em; */
    text-wrap: balance;
    font-size: 2.4rem;
    padding-inline: 1.5em;
}

#visual-container-description p {
    font-size: 1.5rem;
}

p#visual-container-credits {
    text-align: center;
    grid-column: 1 / span 2;
    font-size: 1rem;
    align-self: baseline;
}

#visual-container-top-right {
    display: flex;
    align-items: center;
    text-align: right;
    grid-column: 2;
    grid-row: 2;
}

#visual-container-top-left {
    display: flex;
    align-items: center;
    text-align: left;
    grid-column: 1;
    grid-row: 2;
}

#visual-container-bottom-right {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    gap: 0.125em;
    justify-content: flex-end;
    /* font-size: 1rem; */
}

#visual-container-bottom-left p, #visual-container-bottom-right p {
    font-size: 1.25rem;
}

#visual-container-result {
    text-align: right;
    grid-column: 1 / span 2;
    grid-column: 2;
    grid-row: 2;
}

@media only screen and (min-width: 400px) {
    #visual-container {
        --scale: 0.55;
    }
}

@media only screen and (min-width: 600px) {
    #visual-container {
        height: 100%;
        flex-shrink: 1;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        padding: unset;
        --scale: 0.50;
    }

    #capture-button {
        top: unset;
        left: 2em;
        bottom: 2em;
    }

    #group-title-info {
        max-height: unset;
    }

    #group-text-container {
        top: 50%;
    }

    #group-title-info-container {
        justify-content: center;
    }

    #year-buttons-container {
        top: 3em;
        bottom: unset;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    #year-buttons-container.display-hidden {
        display: none;
    }

    #year-buttons {
        width: 25em;
    }

    #panel-policy-select-group-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        pointer-events: none;
    }

    #panel-policy-select-container {
        display: flex;
        flex-direction: column;
        pointer-events: auto;
    }

    #policy-select {
        min-height: 3em;
        text-wrap: wrap;
        width: 100%;
    }

    #help-overlay {
        padding: 2em 4em;
    }

    #help-button  {
        top: unset;
        bottom: 2em;
        right: 10%;
    }
}

@media only screen and (min-width: 700px) {
    #visual-container {
        --scale: 0.65;
    }

    #year-buttons-container {
        top: 0em;
    }

    #panel-policy-select-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) {
    #visual-container {
        --scale: 0.7;
    }
}

@media only screen and (min-width: 900px) and (min-height: 720px) {
    #visual-container {
        --scale: 0.85;
    }

    #year-buttons-container {
        flex-direction: row;
    }

    #help-overlay {
        padding: 2em 10em;
    }
}

@media only screen and (min-width: 900px) {
    #help-button  {
        right: 5em;
    }

    #panel-policy-select-container {
        width: 15em;
        gap: 0.5em;
    }

    #policy-select {
        width: 26ch
    }

    #year-buttons {
        width: 20em;
    }

    #year-buttons-container {
        flex-direction: row;
        top: 1em;
        gap: 1em;
    }
}

@media only screen and (min-width: 1080px) and (min-height: 800px) {
    #visual-container {
        --scale: 1;
    }
}

@media only screen and (min-width: 1080px) {
    #panel-policy-select-group-container {
        flex-direction: row;
        padding-left: 1em;
    }

    #year-buttons-container {
        gap: 1em 3em;
    }
}
