#council-container, .summary-container, #cllr-details-summary-container, .legend-row {
    --for-colour: #06d6a0;
    --against-colour: red;
    --abstain-colour: yellow;
    --absent-colour: rgb(0, 0, 0);
    --text-colour: black;

    --option-1-colour: #26547c;
    --option-2-colour: #ffd166;
    /* --option-3-colour: #ef476f; */
    --option-3-colour: #ff82cf;
    --option-4-colour: #06d6a0;
}

p.vote-text {
    margin: 0.3rem 0 0.5rem 0;
}

.fa-solid {
    /* text-align: center; */
    font-size: 3rem;
}

.vote:hover {
    --translate: translate(var(--negative-size), calc(var(--hover-y) + var(--negative-size)));
}
.vote {
    --shadow-size: 0.25rem;
    /* --hover-y: 0; */
    --negative-size: calc(0rem - var(--shadow-size));
    --translate: translate(var(--negative-size), var(--negative-size));
    transform: var(--translate);
    border:none;
}

.fa-solid::before {
    color: var(--vote-colour);
}

.vote .fa-solid::before {
    -webkit-filter: drop-shadow(var(--shadow-size) var(--shadow-size) 0 var(--member-border-colour));
    filter        : drop-shadow(var(--shadow-size) var(--shadow-size) 0 var(--member-border-colour));

    transition: all 300ms ease-in-out;
}

/* .fa-certificate, .vote.fa-cloud, .vote.fa-star */
.vote[class*="fa-"]
{
    border-style:none;
    box-shadow: none;
    border: none;
    background-color: unset;
    color: black;
}

/* .vote-absent, .member.vote-for, .member.vote-against, .member.vote-abstain,
.vote-option-1, .vote-option-2,.vote-option-2, .vote-option-3, .vote-option-4*/
.member[class*="vote-"] {
    box-shadow: var(--shadow-size) var(--shadow-size) 0 var(--member-border-colour);
    background-color: var(--vote-colour);
    border-radius: var(--vote-shape);
}


.vote-for, .fa-star {
    --vote-colour: var(--for-colour);
    --vote-shape: 50% 50% 0.25em 0.25em;
}

.vote-against, .fa-certificate, .fa-burst,
.fa-heart-crack, .fa-hand-back-fist, .fa-virus {
    --vote-colour: var(--against-colour);
    --vote-shape: 0.25em 0.25em 50% 50%;
}

.vote-abstain, .fa-cloud, .fa-ghost {
    --vote-colour: var(--abstain-colour);
    --vote-shape: 0.25em;
}

.vote-absent {
    --vote-colour: var(--absent-colour);
    color: white;
    border-color: var(--member-colour);
    --vote-shape: 50%;
}


.member.vote-absent {
    border-style: solid;
}

.vote-option-1, .fa-heart {
    --vote-colour: var(--option-1-colour);
    --vote-shape: 0.25em 50% 50% 50%;
    color: cornsilk;
}

.vote-option-2, .fa-diamond {
    --vote-colour: var(--option-2-colour);
    --vote-shape: 50% 0.25em 50% 50%;
}

.vote-option-3, .fa-rocket {
    --vote-colour: var(--option-3-colour);
    --vote-shape: 50% 50% 0.25em 50%;
}

.vote-option-4 {
    --vote-colour: var(--option-4-colour);
    --vote-shape: 50% 50% 50% 0.25em;
}

.vote-hidden {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.member[class*="vote-"]:hover {
    /* --translate: translate(0, 0); */
    border: solid 0.25em var(--member-colour);
}

.member.vote-vacant {
    /* background-color: var(--vacant-colour); */
    background-color: var(--member-border-colour);
    border-width: 0.25em;
    --vote-shape: 50%;
    /* border-style: dashed; */
    color: #424242;
}
