#council-container, .summary-container, #vote-history-container {
    --for-colour: #06d6a0;
    --against-colour: red;
    --abstain-colour: yellow;
    --absent-colour: rgb(255, 255, 255);

    --option-1-colour: #26547c;
    --option-2-colour: #ffd166;
    --option-3-colour: #ef476f;
    --option-4-colour: #06d6a0;
}

p.vote-text {
    margin: 0.3rem 0 0.5rem 0;
}

.vote-for, .vote-abstain, .vote-against, .vote-absent,
.vote-option-1, .vote-option-2, .vote-option-3, .vote-option-4
{
    border-style:none;
    border-color: var(--member-colour);
    background-color: var(--vote-colour);
    color: black;
}

.vote-for {
    --vote-colour: var(--for-colour);
}

.vote-against {
    --vote-colour: var(--against-colour);
}

.vote-abstain {
    --vote-colour: var(--abstain-colour);
}

.member.vote-for {
    border-radius: 50% 50% 0.25em 0.25em;
}

.member.vote-against {
    border-radius: 0.25em 0.25em 50% 50% ;
}

.member.vote-abstain {
    border-radius: 0.25em;
}

.vote-absent {
    --vote-colour: var(--absent-colour);
    background-color: black;
    color: var(--vote-colour);
}

.member.vote-absent:hover {
    transform: unset;
}

.member.vote-absent {
    border-style: solid;
    color: white;
}

.vote-option-1 {
    --vote-colour: var(--option-1-colour);
    color: cornsilk;
}

.vote-option-2 {
    --vote-colour: var(--option-2-colour);
}

.vote-option-3 {
    --vote-colour: var(--option-3-colour);
}

.vote-option-4 {
    --vote-colour: var(--option-4-colour);
}

.member.vote-option-1 {
    border-radius: 0.25em 50% 50% 50%;
}

.member.vote-option-2 {
    border-radius: 50% 0.25em 50% 50%;
}

.member.vote-option-3 {
    border-radius: 50% 50% 0.25em 50%;
}

.member.vote-option-4 {
    border-radius: 50% 50% 50% 0.25em;
}

.vote-hidden {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.member.vote-vacant {
    /* background-color: var(--vacant-colour); */
    background-color: var(--member-border-colour);
    border-width: 0.25em;
    /* border-style: dashed; */
    transform: scale(0.7);
    color: #424242;
}
