.detail-panel {
    height: 100%;
    width: 40ch;
    padding: 0.5em 1em;
    /* background-color: red; */
    float: right;
    display: flex;
    flex-direction: column;
    gap:1em;
    text-align: center;
    align-items: center;
    justify-content: stretch;
    overflow-y:auto;
    overflow-x: hidden;
}

#panel-title {
    width: 100%;
}

.member-bio-container {
    display: flex;
    gap:1em;
}

#table-container  {
    align-self: stretch;
    overflow-y: scroll;
}

.detail-panel h2 {
    font-size: 1.5rem;

}

.profile-picture {
    /* width: 80%; */
    width: 50%;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 1em;
}

.detail-panel table tr td:last-child {
    text-align: right;
}